<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="logfile"
              xsi:type="File"
              fileName="Logs/${shortdate}/${level}.csv"
              maxArchiveDays="30"
              maxArchiveFiles="90"
              archiveEvery="Day"
              archiveAboveSize = "10240">
      <layout xsi:type="CSVLayout">
        <column name="date" layout="${longdate}" />
        <column name="logger" layout="${logger}"/>
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception}"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace"  writeTo="logfile" />
  </rules>
</nlog>